.error {
    max-width: 30rem;
    color: darkred;
    padding: .5rem;
    margin-top: 1rem;
    border-bottom: 2px solid darkred;
    text-align: center;
    position: relative;
}

@media (min-width: 688px) {
    .error {
        max-width: 50rem;
    }
}

.error svg {
    width: 2rem;
    position: absolute;
    top: 1rem;
    margin: 0;
    padding: 0;
}

.message {
    margin-left: 2rem;
}